@model WebApplication1.Models.Usuario

<h3>Editar Usuário</h3>
<form method="post" asp-controller="usuario" asp-action="edit">
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" asp-for="NomeUsuario" /></td>
        </tr>
           <tr>
            <td>Setor</td>
            <td><input type="text" asp-for="SetorUsuario" /></td>
        </tr>
          <tr>
            <td>Enviar</td>
            <td>
                <input type="submit" value="Save" />
                <input type="hidden" asp-for="IdUsuario" />
            </td>
        </tr>
    </table>
</form>