<div class="row" style="margin-bottom:10px;">
    <div class="col-6 offset-4">
        <a asp-action="AddRole" class="btn btn-primary mr-2">Nova Regra</a>
        <a asp-action="DisplayRoles" class="btn btn-primary mr-2">Ver Regras</a>
        <a asp-action="AddUserToRole" class="btn btn-primary mr-2">Impor Regra em um Usuário</a>
        <a asp-action="Index" class="btn btn-primary mr-2">Voltar</a>
    </div>

</div>
<hr/>