@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Seja Bem Vindo!</h1>
    <h2>O que Gostaria de fazer hoje?</h2>
</div>

<div class="text-center">
    <p>Aprenda mais em <a href="https://docs.microsoft.com/aspnet/core">criando aplicações WEB com ASP.NET Core</a>.</p>
</div>

